dist/
dev-server*.log

# Dependencies
node_modules/

# Build output
build/

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Cache
.cache/
.vite/

# Test / coverage
coverage/

# TypeScript
*.tsbuildinfo